<style>
  footer {
    background: #fff;
    bottom: 0;
    display: grid;
    left: 0;
    padding: 2rem 1rem;
    place-items: center;
    position: sticky;
    width: 100%;
  }


  .site-footer {
    color: #111;
    padding: 1rem 1rem 0;
  }

  .site-footer nav {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .site-footer .link {
    color: #b51f24;
    font-weight: bold;
    margin: 0 0.5rem;
    text-decoration: none;
    transition: transform 0.3s ease-out;
  }

  .site-footer .link:hover {
    transform: scale(1.1);
  }

  .site-footer .dan {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    .site-footer {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .site-footer nav {
      margin-bottom: 0;
    }
  }
</style>

<footer class="site-footer bg-gray-50 grid items-center left-0 sticky top-0">
  <nav class="flex">
    <a class="link" href="/">Home</a>
    <a class="link" href="/tinkerings">Tinkerings</a>
    <a class="link" href="/blips">Blips</a>
    <a class="link" href="/posts">Posts</a>
  </nav>
  <div class="dan">
    <img alt="Illustration of Dan by Ricardo Gimenes" height="150" src="/img/dan-social-eb.svg" width="150" />
    <p>Thank you for checking out my site!</p>
  </div>
</footer>