<h2>Series Posts</h2>

<style>
  :root {
    --color: {{ colorLink }};
  }
  .strapi-series-toc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .strapi-series-toc a {    
    margin-top: 0.5rem;
  }

</style>

<nav class="strapi-series-toc">
  <a href="/posts/front-end-dev/strapi-series-part-1-project-outline">Part 1: Project Outline</a>
  <a href="/posts/front-end-dev/strapi-series-part-2-architectural-decisions">Part 2: Architectural Decisions</a>
  <a href="/posts/front-end-dev/strapi-series-part-3-repo-setup">Part 3: Repo Setup</a>
  <a href="/posts/front-end-dev/strapi-series-part-4-a-fake-company">Part 4: A Fake Company</a>
</na>