---
layout: layouts/home.njk
permalink: /blips/
eleventyNavigation:
  key: Blips
  order: 2
---

<section class="postlist-section">

  <h1>Blips</h1>

  {% set blipslist = collections.blips %}
  {% include "blipslist.njk" %}

</section>
