---
layout: layouts/home.njk
---

<section class="home-posts">

  <h2 class="u-ta-c heading-accent">Recent Posts</h2>

  {% set postslist = collections.posts | head(-3) %}
  {% set postslistCounter = collections.posts | length %}
  {% include "homeposts.njk" %}

  <p class="u-pt-2 u-ta-c">For the rest, check out <a href="{{ '/posts/' | url }}">posts</a>.</p>

</section>