---
layout: layouts/home.njk
permalink: /tinkerings/
eleventyNavigation:
  key: Tinkerings
  order: 2
---

<h1>Tinkerings</h1>

{% set tinkeringslist = collections.tinkerings %}
{% include "tinkeringslist.njk" %}
