<style>
  .goodreads {
    background-image: url(/img/goodreads/light-sand-72dpi-rgb.jpg);
    background-size: 512px 512px;
  }

  .goodreads-section {
    width: calc(50% - 80px);
  }

  {# .image {
    border: 0.75rem solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 1px 3px #c6a984;
  } #}

  .book-container {
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 600px;
  }

  @keyframes initAnimation {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(-30deg);
    }
  }

  .book {
    width: 200px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(-30deg);
    transition: 1s ease;
    animation: 1s ease 0s 1 initAnimation;
  }

  .book:hover {
    transform: rotateY(0deg);
  }

  .book > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    width: 200px;
    height: 300px;
    transform: translateZ(25px);
    background-color: #01060f;
    border-radius: 0 2px 2px 0;
  }

  .book::before {
    position: absolute;
    content: ' ';
    background-color: blue;
    left: 0;
    top: 3px;
    width: 48px;
    height: 294px;
    transform: translateX(172px) rotateY(90deg);
    background: linear-gradient(90deg, 
      #fff 0%,
      #f9f9f9 5%,
      #fff 10%,
      #f9f9f9 15%,
      #fff 20%,
      #f9f9f9 25%,
      #fff 30%,
      #f9f9f9 35%,
      #fff 40%,
      #f9f9f9 45%,
      #fff 50%,
      #f9f9f9 55%,
      #fff 60%,
      #f9f9f9 65%,
      #fff 70%,
      #f9f9f9 75%,
      #fff 80%,
      #f9f9f9 85%,
      #fff 90%,
      #f9f9f9 95%,
      #fff 100%
      );
  }

  .book::after {
    position: absolute;
    top: 0;
    left: 0;
    content: ' ';
    width: 200px;
    height: 300px;
    transform: translateZ(-25px);
    background-color: #01060f;
    border-radius: 0 2px 2px 0;
  }

  @media screen and (min-width: 768px) {
    .custom-fs-2-5 {
      font-size: 2.5rem;
    }

    .custom-mh-vh-70 {
      min-height: 70vh;
    }
  }

  @media screen and (min-width: 768px) {
    .custom-fs-2 {
      font-size: 2rem;
    }

    .custom-mh-vh-70 {
      min-height: 70vh;
    }
  }

  @media screen and (min-width: 1000px) {
    .custom-mw-80 {
      margin-left: auto;
      margin-right: auto;
      max-width: 80%;
    }
  }
</style>

{% if goodreads.length %}
  <ol class="goodreads">
    {% for goodread in goodreads %}
      <li class="custom-mh-vh-70 u-ai-c u-d-f u-px-2 u-py-4">
        <figure class="u-w-100pc">
          <div class="u-ai-c u-d-f">
            <div class="goodreads-section u-d-f u-jc-fe u-pr-2">
              <time class="postlist-date" datetime="{% if goodread.dateFinished != 'Invalid Date' %}{{ goodread.dateFinished | htmlDateString }}{% else %}{{ goodread.dateStarted | htmlDateString }}{% endif %}"><span class="postlist-month">{% if goodread.dateFinished != 'Invalid Date' %}{{ goodread.dateFinished | postMonth }}{% else %}{{ goodread.dateStarted | postMonth }}{% endif %}</span><span class="postlist-day">{% if goodread.dateFinished != 'Invalid Date' %}{{ goodread.dateFinished | postDay }}{% else %}{{ goodread.dateStarted | postDay }}{% endif %}</span><span class="postlist-year">{% if goodread.dateFinished != 'Invalid Date' %}{{ goodread.dateFinished | postYear }}{% else %}{{ goodread.dateStarted | postYear }}{% endif %}</span></time>
            </div>

            <div class="book-container">
              <div class="book">
                <img alt="Cover of {{ goodread.title }} by {{ goodread.author }}" loading="lazy" src="/img/goodreads/{{ goodread.sluggify }}.jpg" srcSet="/img/goodreads/{{ goodread.sluggify }}.jpg 1x, /img/goodreads/{{ goodread.sluggify }}@2x.jpg 2x" width="160" />
              </div>
            </div>

            <div class="goodreads-section u-pl-1 custom-fs-2">{% for i in range(0, goodread.rating) -%}🍺{%- endfor %}</div>
          </div>
          <figcaption class="custom-mw-80 u-d-f u-ai-c u-fd-c u-pt-1 u-ta-c">
            <h3 class="title custom-fs-2-5 u-mt-1">{{goodread.title}}</h3>
            <p class="u-b-t">Written by {{ goodread.author }}</p>
          </figcaption>
        </figure>
      </li>
    {% endfor %}
  </ol>
{% endif %}

