.home-featured a {
  background: none;
  color: #ff5960;
}

.home-featured a:hover {
  opacity: 0.5;
}

.home-featured {
  background-color: #181619;
  background-image: url("https://res.cloudinary.com/dtlow08pj/image/upload/v1597538137/posts/bg-true-crime-garage.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: flex-end;
  min-height: 80vh;
  overflow: hidden;
}

.home-featured-content {
  background: rgba(24, 22, 25, 0.75);
}

@media screen and (min-width: 1000px) {
  .home-featured {
    background-image: none;
    width: 400px;
  }

  .home-featured-content {
    background-color: none;
    background-image: url("https://res.cloudinary.com/dtlow08pj/image/upload/v1597538137/posts/bg-true-crime-garage.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    left: 80px;
    padding: 2rem 2rem 4rem 2rem;
    position: fixed;
    top: 0;
    width: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .home-featured,
  .home-featured-content {
    width: 500px;
  }
}
