{% set css %}
  {% include "homeprojects.css" %}
{% endset %}
<style>
  {{ css | cssmin | safe }}
</style>

<section class="home-projects">

  <article class="home-roulettingale u-py-2">
    <img alt="Screenshot of roulette spin results" class="u-mh-auto" src="/img/home/roulettingale.png" srcset="/img/home/roulettingale.png 1x, /img/home/roulettingale@2x.png 2x" width="720"/>
    <div class="home-roulettingale-meta u-px-2">
      <h3 class="u-mt-1">Roulettingale v2</h3>
      <p class="u-mt-1">If you apply the
        <a href="https://en.wikipedia.org/wiki/Martingale_(betting_system)">Martingale betting system</a>
        when playing roulette, there are only two ways you can lose: not having enough money to make the necessary bet or the casino let letting you bet enough. This project tracks a few thousand spins to show what values you could attempt this at in casinos.</p>
      <a class="home-roulettingale-btn" href="/tinkerings/roulettingale-v2">Take a spin</a>
    </div>
  </article>

  <article class="home-beerbongs">
    <div class="home-beerbongs-meta">
      <h3>Visualizing beerbongs &amp; bentleys</h3>
      <p class="u-mt-1">After learning D3, I took a crack at making a fun page to show off how much of an impact Post Malone's album had on the Spotify Charts.</p>
      <a class="home-beerbongs-btn" href="/tinkerings/beerbongs-and-bentleys">Peep it</a>
    </div>
    <img alt="Screenshot of roulette spin results" class="u-mh-auto" src="/img/home/beerbongs-and-bentleys.png" srcset="/img/home/beerbongs-and-bentleys.png 1x, /img/home/beerbongs-and-bentleys@2x.png 2x" width="720"/>
  </article>

</section>
