{% set css %}
  {% include "homeblips.css" %}
{% endset %}
<style>
  {{ css | cssmin | safe }}
</style>

<section class="home-blips u-px-2 u-py-4">

  <h2 class="u-ta-c heading-accent">Recent Blips</h2>
  <p class="u-ta-c">Quick shares and reactions, mostly around front-end</h2>

  {% set blipslist = collections.blips | head(-3) %}
  {% set blipslistCounter = collections.blips | length %}
  {% include "homebliplist.njk" %}

  <p class="u-ta-c">For the rest, check out
    <a href="{{ '/blips/' | url }}">blips</a>.</p>

</section>
