{% set css %}
  {% include "homeposts.css" %}
{% endset %}
<style>
  {{ css | cssmin | safe }}
</style>

<section class="home-posts">

  {% set postslist = collections.posts | head(-2) %}
  {% set postslistCounter = collections.posts | length %}
  {% include "homepostlist.njk" %}

</section>
