<ol reversed class="home-postlist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist | reverse %}
  <li class="home-postlist-item{% if post.url == url %} home-postlist-item-active{% endif %}">
    {% if post.data.thumb %}<img alt="{{post.data.title}}" class="home-postlist-thumb" src="{{post.data.thumb}}" srcset="{{post.data.thumb}} 1x, {{post.data.thumb2x}} 2x" />{% endif %}
    <div class="home-postlist-info u-p-2">
      <div class="home-postlist-meta">
        <a href="{{ post.url | url }}" class="postlist-link">
          {% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}
        </a>
        {% if post.data.summary %}
          <p>{{post.data.summary}}</p>
          <time class="postlist-date u-d-b u-mt-1" datetime="{{ post.date | htmlDateString }}">{{ post.date | postMonth }} {{ post.date | postDay }}, {{ post.date | postYear }}</time> 
        {% endif %}
      </div>
    </div>
  </li>
{% endfor %}
</ol>
