.home-intro {
  align-items: center;
  background-image: url("https://res.cloudinary.com/dtlow08pj/image/upload/v1597590349/posts/screenshot-css.png");
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 400px;
}

.home-intro h1,
.home-intro p {
  max-width: 480px;
}
