{% set css %}
  {% include "homeposts.css" %}
{% endset %}
<style>
  {{ css | cssmin | safe }}
</style>

<section class="home-posts u-px-2 u-py-4">

  <h2 class="u-ta-c heading-accent">Recent Posts</h2>
  <p class="u-ta-c">Your typical blog posts, albeit less well-written.</p>

  {% set postslist = collections.posts | head(-4) %}
  {% set postslistCounter = collections.posts | length %}
  {% include "homepostlist.njk" %}

  <p class="u-pt-4 u-ta-c">For the rest, check out
    <a href="{{ '/posts/' | url }}">posts</a>.</p>

</section>
