.home-postlist-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.home-postlist-info {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-postlist-item .postlist-date {
  font-size: 1rem;
}

@media screen and (min-width: 600px) {
  .home-postlist-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .home-postlist-item:nth-child(even) .home-postlist-thumb {
    order: 1;
  }
}
