---
layout: layouts/base.njk
---

{% set css %}
  {% include "prism.css" %}
{% endset %}

<article class="longform longform-container">
  <header class="blip-header">
    <h1>{{ title }}</h1>
  </header>
  {{ content | safe }}
</article>
