---
layout: layouts/base.njk
---

{% if codeHighlighting %}
  <style>
    {% include "prism.css" %}
  </style>
{% endif %}

{% include "header.njk" %}

<article>
  <header class="longform max-w-2xl mx-auto pb-16 px-8 lg:px-0">
    <h1 class="full-to-half-bleed max-w-2xl px-8 py-8 text-4xl font-black tracking-tight text-gray-900 sm:text-6xl lg:px-0 lg:col-span-2 lg:text-8xl xl:col-auto">
      {{ title }}
    </h1>
    {% if thumb %}
      <img alt="{{ thumbAlt }}" class="block full-to-half-bleed" height="592" src="https://res.cloudinary.com/dtlow08pj/image/upload/f_auto,c_limit,w_375,q_auto/v1673896360/{{ thumb }}" srcset="https://res.cloudinary.com/dtlow08pj/image/upload/f_auto,c_limit,w_750,q_auto/v1673896360/{{ thumb }} 375w, https://res.cloudinary.com/dtlow08pj/image/upload/f_auto,c_limit,w_1000,q_auto/v1673896360/{{ thumb }} 500w, https://res.cloudinary.com/dtlow08pj/image/upload/f_auto,c_limit,w_1344,q_auto/v1673896360/{{ thumb }} 672w," width="1008">
    {% endif %}
  </header>

  <div class="longform max-w-2xl mx-auto pb-16 px-8 lg:px-0">
    {{ content | safe }}

    {% if strapiSeries %}
      {% include "src/_includes/strapi-series-toc.njk" %}
    {% endif %}
  </div>
</article>
