---
layout: layouts/base.njk
---

{% set css %}
  {% include "prism.css" %}
{% endset %}
{% include "longform.njk" %}
<style>
  {{ css | safe }}
</style>

<article class="p-8">
  {{ content | safe }}
</article>
