@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll */

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* Links */

.longform a,
.has-links a {
  @apply bg-no-repeat font-semibold no-underline text-red-700;
  background-image: linear-gradient(
    to bottom,
    transparent 90%,
    #b91c1c 0
  ); /* red-700 */
  background-size: 100% 100%;
  transition: background-size 0.4s ease;
}

.longform a:active,
.has-links a:active,
.longform a:focus,
.has-links a:focus,
.longform a:hover,
.has-links a:hover {
  background-size: 0% 100%;
  cursor: pointer;
}

.btn-link {
  @apply rounded-md bg-red-700 px-3.5 py-2.5 text-sm font-semibold text-white transition-colors transition-transform shadow-sm hover:bg-red-800 hover:scale-105 focus-visible:scale-105 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-700;
}

/* Bleed Options */

.full-bleed,
.full-to-half-bleed {
  margin-left: 50%;
  overflow: hidden;
  max-width: 100rem;
  transform: translateX(-50%);
  width: 100vw;
}

@media screen and (min-width: 1000px) {
  .full-to-half-bleed,
  .normal-to-half-bleed {
    max-width: 150%;
    width: 150%;
    margin-left: -25%;
    margin-right: -25%;
    transform: none;
  }
}
