---
layout: layouts/base.njk
permalink: /blips/
eleventyNavigation:
  key: Blips
  order: 1
---

<section class="mx-auto sm:max-w-3xl">

  <h1 class="font-black pb-4 text-6xl md:text-9xl">Blips</h1>

  <nav class="flex flex-col items-start pb-12">
    {% for blip in collections.blips | reverse %}
      <a class="link my-3 text-xl md:text-2xl" href="{{ blip.url | url }}">{{ blip.data.title }}</a>
    {% endfor %} 
  </nav> 

</section>
