---
layout: layouts/base.njk
permalink: /blips/
eleventyNavigation:
  key: Blips
  order: 1
---

{% include "header.njk" %}

<section class="bg-white pt-16 pb-24 shadow sm:pb-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <div>
        <p class="text-lg font-semibold leading-8 tracking-tight text-slate-400">Quick Hits</p>
        <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Blips</h1>
        <p class="mt-6 text-base leading-7 text-gray-600">Shorter than a blog post, longer than a tweet. This is where I share quick reactions or stash things I want to remember.</p>
      </div>
      <ul class="has-links grid grid-cols-1 gap-x-8 gap-y-10 text-base leading-7 text-gray-600 sm:grid-cols-2 lg:col-span-2 lg:gap-y-8 lg:grid-cols-2">
        {% for blip in collections.blips | reverse %}
          <li class="border-b border-solid border-slate-200 pb-8">
            <a class="link" href="{{ blip.url | url }}">
              {{ blip.data.title }}
            </a>
            <p class="text-sm">{{ blip.data.summary }}</p>
          </li>
        {% endfor %} 
      </nav>
    </div>
  </div>
</section>
