---
layout: layouts/base.njk
summary: Trying something with using custom markup for each item in a collection list
thumb: 'eleventy-netlify-newb.jpg'
title: "Custom collection list markup in Eleventy"
---

{% include "posts.njk" %}

<section class="posts-grid">

  <section class="intro">

    <header class="flex flex-wrap items-center justify-center p-8 sm:justify-between">
      <a class="intro-logo" href="/"><img alt="Illustration of Dan Denney, by Ricardo Gimenes" src="/img/dan-denney-circle.svg" width="100" /></a>
      <h1 class="mt-4 mx-auto text-lg sm:max-w-2xl">I'm Dan Denney, a front-end dev at <a class="link" href="https://www.datacamp.com">DataCamp</a> and all-around fan of design and development.</h1>

      <ul class="nav-site">
        <li>
          <a class="header-nav-link" href="/posts">Posts</a>
          <p>My attempt at blogging</p>
        </li>
        <li>
          <a class="header-nav-link" href="/blips">Blips</a>
          <p>Quick thoughts or shares</p>
        </li>
        <li>
          <a class="header-nav-link" href="/tinkerings">Tinkerings</a>
          <p>Projects for sharing and learning</p>
        </li>
      </ul>
    </header>

    {% include "social.njk" %}

  </section>
  
  {% set homePosts = collections.posts | reverse %}
  {% for homePost in homePosts.slice(0, 14) %}
    <a class="link-post" href="{{ homePost.url | url }}">
      <img src="https://res.cloudinary.com/dtlow08pj/image/upload/f_auto,c_limit,w_686,q_auto/v1673896360/{{ homePost.data.thumb }}" alt="{{homePost.data.thumbAlt}}" height="228" srcset="https://res.cloudinary.com/dtlow08pj/image/upload/f_auto,c_limit,w_686,q_auto/v1673896360/{{ homePost.data.thumb }} 375w, https://res.cloudinary.com/dtlow08pj/image/upload/f_auto,c_limit,w_704,q_auto/v1673896360/{{ homePost.data.thumb }} 768w, https://res.cloudinary.com/dtlow08pj/image/upload/f_auto,c_limit,w_896,q_auto/v1673896360/{{ homePost.data.thumb }} 1200w" width="343" />
      <span class="link-title">{{ homePost.data.title }}</span>
      <span class="link-description">{{ homePost.data.summary }}</span>
    </a>
  {% endfor %} 

</section>


