---
layout: layouts/base.njk
---

<section class="mx-auto sm:max-w-4xl">

  <h1 class="font-black text-6xl md:text-9xl">I like chunky fonts and I cannot lie</h1>
  <p class="mt-4 mx-auto text-lg sm:max-w-2xl">Welcome to my little slice of the internet. I'm Dan Denney, a front-end dev at <a class="link" href="https://www.datacamp.com">DataCamp</a> and all around fan of all things design and dev.</p>

</section>

{% include "social.njk" %}

