---
layout: layouts/base.njk
---

<h1 class="font-black text-9xl">Welcome to Dan Denney's semi-annual redesign</h1>
<p class="mt-4 text-2xl">Things will likely look a bit borked, but I'm working on it. If you dare to browse during this, <a href="/posts" class="text-red-700 hover:text-red-500">posts</a> and <a href="/blips" class="text-red-700 hover:text-red-500">blips</a> are there but not styled. <a class="text-red-700 hover:text-red-500" href="/tinkerings">Tinkerings</a> have per-page styles so they're legit.</p>
