---
layout: layouts/base.njk
summary: Links of things I've read and watched
title: "Library"
---

<style>
  header {
    padding: 0 1rem;
  }
  .notes {
    display: block;
    margin-top: 0.5rem;
  }
  .meta {
    color: #888;
    display: flex;
    font-size: 0.75rem;
    margin-top: 0.75rem;
  }
  .library-links {
    display: grid;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 1rem;
  }
  .library-links a {
    background-image: linear-gradient(to bottom, transparent 90%, #b51f24 0);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    color: var(--color-action);
    font-size: 1.125rem;
    font-weight: bold;
    text-decoration: none;
    transition: background-size .4s ease;
  }
  .library-links a:hover {
    background-size: 100% 100%;
    cursor: pointer;
  }
  .library-links li {
    border-top: 0.125rem solid var(--color-accent);
    margin-top: 1rem;
    padding: 1.5rem;
  }
  
  @media screen and (min-width: 768px) {
    .library-links {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content;
      justify-items: start;
    }
  }
  @media screen and (min-width: 1000px) {
    .library-links {
      gap:  0 2rem;
      grid-template-columns: 1fr 1fr 1fr;
    }

  }
</style>

<header>
  <h1>Library</h1>
  <p>Links of things I've read and watched.</p>
</header>

{% if libraryLinks.length %}
  <ul class="library-links has-links">
    {% for link in libraryLinks %}
      <li>
        <a href="{{ link.url }}">{{ link.title }}</a>
        {%if link.notes %}
            <span class="notes">{{ link.notes }}</span>
          {% endif %}
        <span class="meta">
          {{ link.tag }}, {{ link.created_time | formatDate('MMM DD YYYY') }}
        </span>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No links to show.</p>
{% endif %}



