---
layout: layouts/base.njk
permalink: /posts/
eleventyNavigation:
  key: Posts
  order: 1
---

<style>
  .intro {
    background: #f5f5f5;
    padding: 2rem;
  }

  .intro p {
    line-height: 1.5;
  }

  .posts-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 0px;
    padding: 1rem;
  }

  .posts-grid:hover .link-post:not(:hover) img {
    filter: grayscale(1);
  }

  .posts-grid a:nth-of-type(odd) {
    padding-top: 3rem;
  }

  .link-post {
    text-decoration: none;
    transition: all 0.2s linear;
  }
  
  .link-post:hover {
    transform: scale(1.05);
  }

  .link-title {
    color: #b51f24;
    display: block;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 0.5rem 2rem 0 2rem;
  }

  .link-description {
    color: #000000;
    display: block;
    padding: 0.5rem 2rem 2rem 2rem;
  }

  .link-post img {
    transition: filter 0.5s ease-in;
    max-width: 100%;
  }
</style>

<section class="posts-grid">

  <div class="intro">
    <h1>Posts</h1>
    <p>
      Welcome to my blog, where I share my thoughts and experiences while being as self-effacing as possible on my own website. I hope that my musings will resonate with someone out there in the world wild web, so join me on this journey of self-discovery and mediocrity!
    </p>
  </div>

  {% for post in collections.posts | reverse %}
    <a class="link-post" href="{{ post.url | url }}">
      <img src="https://res.cloudinary.com/dtlow08pj/image/upload/f_auto,c_limit,w_880,q_auto/v1673896360/{% if post.data.thumb %}{{ post.data.thumb }}{% else %}posts/slackin.png{% endif %}" alt="{% if post.data.thumb %}{{ post.data.thumbAlt }}{% else %}slacking on my imagin'{% endif %}" />
      <span class="link-title">{{ post.data.title }}</span>
      <span class="link-description">{{ post.data.summary }}</span>
    </a>
  {% endfor %} 

</section>
