---
layout: layouts/base.njk
permalink: /posts/
eleventyNavigation:
  key: Posts
  order: 1
---

{% include "posts.njk" %}

<section class="posts-grid">

  <div class="intro-posts">
    <h1>Posts</h1>
    <p>
      Welcome to my blog, where I share my thoughts and experiences while being as self-effacing as possible on my own website. I hope that my musings will resonate with someone out there in the world wild web, so join me on this journey of self-discovery and mediocrity!
    </p>

    <strong>Bringing back the blog roll...</strong>
    <nav class="blog-roll">
      <a href="https://rachsmith.com">Rachel Smith</a>
      <a href="https://chriscoyier.net">Chris Coyier</a>
      <a href="https://daverupert.com">"Uncle" Dave Rupert</a>
      <a href="https://css-irl.info">CSS IRL</a>
      <a href="https://bitsofco.de">Ire Aderinokun</a>
      <a href="https://stephaniewalter.design/blog">Stephanie Walter</a>
      <a href="https://timkadlec.com/remembers">Tim Kadlec</a>
      <a href="https://bradfrost.com/blog">Brad Frost</a>
      <a href="https://moderncss.dev">Modern CSS Solutions</a>
      <a href="https://tympanus.net/codrops">CoDrops</a>
      <a href="https://www.raymondcamden.com">Raymond Camden</a>
      <a href="https://ishadeed.com/articles">Ahmad Shadeed</a>
      <a href="https://www.builder.io/blog">Builder</a>
      <a href="https://www.zachleat.com/web">Zach Leat</a>
      <a href="https://www.stefanjudis.com/blog">Stefan Judis</a>
      <a href="https://web.dev/blog">Web.Dev</a>
    </nav>
  </div>

  {% for post in collections.posts | reverse %}
    <a class="link-post" href="{{ post.url | url }}">
      <img src="https://res.cloudinary.com/dtlow08pj/image/upload/f_auto,c_limit,w_880,q_auto/v1673896360/{% if post.data.thumb %}{{ post.data.thumb }}{% else %}posts/slackin.png{% endif %}" alt="{% if post.data.thumb %}{{ post.data.thumbAlt }}{% else %}slacking on my imagin'{% endif %}" />
      <span class="link-title">{{ post.data.title }}</span>
      <span class="link-description">{{ post.data.summary }}</span>
    </a>
  {% endfor %} 

</section>
