<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7537438/6246012/css/fonts.css" />
    <link rel="stylesheet" href="{{ '/css/prism.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>
  <body>
    <header class="site-header">
      <h1 class="site-link">
        <a href="{{ '/' | url }}">{{ metadata.title }}</a>
        | The man, the myth, the magazine layout?
      </h1>

      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <ul class="site-nav">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="site-nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer class="site-footer">
      <p class="site-meta">© 2020, Built with <a href="https://www.11ty.dev">11ty</a> and hosted on <a href="https://netlify.com">Netlify</a>.</p>

      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <ul class="site-nav">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="site-nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
